html,body{
    margin: 0;
    padding: 0;
    min-width: 300px;
    text-align: center;
    animation: wholePage 1s;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

@keyframes wholePage {
    0% {
        opacity: 0%;
    }

    100%{
        opacity: 100%;

    }
}

input{
    width: 95%;
    margin: 10px 10px 5px 10px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #3b4864;
    box-sizing: border-box;
}

button{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #ff0055;
    margin: 10px 3px 0px 3px;
    padding: 8px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

ul{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
    padding-left: 10px;
}

a{
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}